.details-container{
    position: relative;
    left: 250px;
    padding: 40px 60px;
}

.details-table {
    border-collapse: collapse;
    width: 180%;
}
  
.details-table-data , .details-table-header {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
.deatils-table-row:nth-child(even) {
    background-color:  var(--primary-100)
}


.searchbar{
    color: black; 
    margin: 10px 0px 50px 0px;
    padding: 15px 10px;
    width: 300px;
    border-radius: 15px;
    border: 2px solid var(--primary-200);
}