.home-main-container{
    /* background-image: url('../../Assets//Images/military-soldier.jpg'); */
    /* background-size: cover; */
    padding: 50px;
}


.home-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 250px;
}

.home-dbname{
    font-size: 4vw;
    margin: 25px 0px 25px 0px;
}

.home-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.data-card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-width: 200px;
    /* height: 180px; */
    background-color: rgba(71, 70, 70, 0.39);
    border-radius: 10px;
    border: 1px solid var(--accent-100);
    text-align: center;
    padding: 20px;
}

.data-card >h1{
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

.card-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 5px;
}

.card-main-data{
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
}
