.Nav-bar-container{
    background-color: var(--bg-200);
    width: 300px;
    min-height: 100vh;
    color: var(--text-200);
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid var(--primary-100);
}

.Navbar-buttons-container > h2{
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 40px;
}

.Navbar-buttons-container{
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
}

.nav-main-button{
    background-color: transparent;
    border: 0;
    padding: 10px 30px;
    margin: 10px;
    font-size: 1.2rem;
    cursor:pointer;
    height: 50px;
    width:280px
}

.nav-main-button:hover{
    background: linear-gradient(90deg , var(--primary-100) , var(--primary-200) 50%);
    border-radius: 12px;
}

.nav-button{
    background-color: transparent;
    border: 0;
    padding: 10px 80px;
    margin: 10px;
    font-size: 1.2rem;
    cursor:pointer;
    width:280px;
}

.nav-main-button > img {
    margin-top: 5px;
    padding: 0px 25px 0px 25px;
    position: relative;
}

.nav-button:hover{
    background: linear-gradient(90deg , var(--primary-100) , var(--primary-200) 50%);
    border-radius: 12px;
}

.nav-subbutton-container{
    background-color: var(--bg-300);
}